tmp/*
logs/*
vendor/

inc/app/*
!inc/app/models/
inc/app/models/*
!inc/app/routes/
inc/app/routes/*
!inc/app/views/
inc/app/views/*
!inc/app/config.sample.json
!inc/app/index.sample.php

public/*
!public/index.php

!.gitkeep